flow2.txt
[{"id":"9df31533.585638","type":"inject","z":"dd14e16f.745f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":90,"y":240,"wires":[["998fb69d.8578f8"]]},{"id":"998fb69d.8578f8","type":"function","z":"dd14e16f.745f6","name":"Payload","func":"msg.headers={\n    devicekey: \"z4rI1DJS5TzLafYz\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["4ad2c4b5.79499c","43aaf6c1.e75208"]]},{"id":"4ad2c4b5.79499c","type":"http request","z":"dd14e16f.745f6","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DNi73kZV/datachannels/Temperature/datapoints.csv","tls":"","x":470,"y":300,"wires":[["f542f8e4.bd9cb8","815ebd8f.e632f"]]},{"id":"815ebd8f.e632f","type":"debug","z":"dd14e16f.745f6","name":"","active":true,"console":"false","complete":"false","x":697,"y":234,"wires":[]},{"id":"f542f8e4.bd9cb8","type":"http response","z":"dd14e16f.745f6","name":"","statusCode":"","headers":{},"x":727,"y":316,"wires":[]},{"id":"43aaf6c1.e75208","type":"http request","z":"dd14e16f.745f6","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DNi73kZV/datachannels/Humidity/datapoints.csv","tls":"","x":470,"y":240,"wires":[["815ebd8f.e632f","f542f8e4.bd9cb8"]]}]