flow3.txt
[{"id":"e6d763c2.d0c38","type":"inject","z":"29e8319e.20788e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":90,"y":200,"wires":[["497f9a41.3a12f4"]]},{"id":"497f9a41.3a12f4","type":"function","z":"29e8319e.20788e","name":"Payload","func":"msg.headers={\n    devicekey: \"z4rI1DJS5TzLafYz\"\n};\nmsg.payload=\"Temperature,,10000.3\"\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["64aae40.144e21c"]]},{"id":"64aae40.144e21c","type":"http request","z":"29e8319e.20788e","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DNi73kZV/datapoints.csv","tls":"","x":470,"y":260,"wires":[["52707893.4cf6c8","21afe4d9.8adb2c"]]},{"id":"21afe4d9.8adb2c","type":"debug","z":"29e8319e.20788e","name":"","active":true,"console":"false","complete":"false","x":697,"y":194,"wires":[]},{"id":"52707893.4cf6c8","type":"http response","z":"29e8319e.20788e","name":"","statusCode":"","headers":{},"x":727,"y":276,"wires":[]}]