flow1.txt
[{"id":"da798c29.7eff6","type":"rpi-gpio out","z":"ccc2ab1e.0e4d68","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":730,"y":280,"wires":[]},{"id":"88a9bc4b.c29d5","type":"rpi-gpio in","z":"ccc2ab1e.0e4d68","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":120,"wires":[["751d250e.5bed3c","cb80b501.647018"]]},{"id":"751d250e.5bed3c","type":"switch","z":"ccc2ab1e.0e4d68","name":"if input=1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":320,"y":260,"wires":[["4ea52873.709e78"],["2ee45014.6c5d6"]]},{"id":"4ea52873.709e78","type":"change","z":"ccc2ab1e.0e4d68","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["da798c29.7eff6"]]},{"id":"2ee45014.6c5d6","type":"change","z":"ccc2ab1e.0e4d68","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["da798c29.7eff6"]]},{"id":"cb80b501.647018","type":"debug","z":"ccc2ab1e.0e4d68","name":"","active":true,"console":"false","complete":"false","x":630,"y":80,"wires":[]}]